@model LoveMeHandMake2.Models.ViewModels.MemberDepositHistoryViewModel

@{
    ViewBag.Title = "储值纪录";
}

<h2>储值纪录</h2>

@using (Html.BeginForm("DepositHistory", "Member", FormMethod.Post))
{
    <div class="container">
        <div class="col-md-2">
            <h4>@Model.member.Name</h4>
        </div>
        <div class="col-md-2">
            <h5>剩余点数: @Model.member.Point</h5>
        </div>
        <div class="col-md-2">
            <h5>累计储值金额 : @Model.member.AccumulateDeposit</h5>
        </div>
        <div class="col-md-2">
            @Html.EditorFor(model => model.SearchDateStart, new { htmlAttributes = new { id = "SearchDateStart", name = "SearchDateStart", @class = "form-control calendarBox", placeholder = "日期(起)" } })
        </div>
        <div class="col-md-2">
            @Html.EditorFor(model => model.SearchDateEnd, new { htmlAttributes = new { id = "SearchDateEnd", name = "SearchDateEnd", @class = "form-control calendarBox", placeholder = "日期(讫)" } })
        </div>
        <div class="col-md-1">
            <input type="submit" value="搜寻" class="btn btn-default" />
        </div>
    </div>
}
<br />

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepositHistoryList.FirstOrDefault().DepostitDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepositHistoryList.FirstOrDefault().OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepositHistoryList.FirstOrDefault().TotalDepositMoney)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepositHistoryList.FirstOrDefault().RewardMoney)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepositHistoryList.FirstOrDefault().DepositPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepositHistoryList.FirstOrDefault().RewardPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepositHistoryList.FirstOrDefault().DepositRewardPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepositHistoryList.FirstOrDefault().AvgPointCost)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.DepositHistoryList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepostitDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDepositMoney)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RewardMoney)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepositPoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RewardPoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepositRewardPoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgPointCost)
            </td>
            <td>
                @Html.ActionLink("取消储值", "CancelDeposit", new { id = item.ID })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>