@model IEnumerable<LoveMeHandMake2.Models.DepositHistory>

@{
    ViewBag.Title = "储值纪录";
}

<h2>储值纪录</h2>



<div class="container">
    <h4>@ViewBag.Member.Name</h4>
    <div class="col-md-2">
        剩余点数: @ViewBag.Member.Point
    </div>
    <div class="col-md-2">
        累计储值金额 : @ViewBag.Member.AccumulateDeposit
    </div>
</div>

<hr/>

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepostitDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalDepositMoney)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RewardMoney)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepositPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RewardPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepositRewardPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvgPointCost)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepostitDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDepositMoney)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RewardMoney)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepositPoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RewardPoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepositRewardPoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgPointCost)
            </td>
            <td>
                @Html.ActionLink("取消储值", "CancelDeposit", new { id = item.ID })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>