@model LoveMeHandMake2.Models.Member

@{
    ViewBag.Title = "会员明细";
}

<h2>明细</h2>

<div>
    <h4>会员</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.Label(Model.Gender ? "男" : "女")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPRCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPRCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrollStore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollStore.StoreCode) -
            @Html.DisplayFor(model => model.EnrollStore.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrollTeacher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollTeacher.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrollDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Point)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Point)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccumulateDeposit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccumulateDeposit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
