<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 乐米手创馆</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/datetimepicker")
    @Scripts.Render("~/bundles/datetimepicker")
    @Scripts.Render("~/bundles/calendarBox")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("樂米手創館", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("门市", "Index", "Store")</li>
                    <li>@Html.ActionLink("老师", "Index", "Teacher")</li>
                    <li>@Html.ActionLink("会员", "Index", "Member")</li>
                    <li>@Html.ActionLink("非会员消费纪录", "Index", "NonMember")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            产品 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("产品类别", "Index", "ProductCategory")</li>
                            <li>@Html.ActionLink("产品列表", "Index", "Product")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            报表 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("商品销售表", "Index", "ProductSaleReport")</li>
                            <li>@Html.ActionLink("会员点数销售表＆通讯录", "Index", "DepositReport")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("储值优惠", "Index", "DepositRewardRule")</li>
                    <li>@Html.ActionLink("系统参数", "Index", "SysParameter")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 乐米手创馆</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
