@model LoveMeHandMake2.Models.ViewModels.CancelDepositViewModel

@{
    ViewBag.Title = "储值取消纪录";
}

<h2>储值取消纪录</h2>

@using (Html.BeginForm("Index", "CancelDeposit", FormMethod.Post))
{
    <div class="container breadcrumb">
        <div class="col-md-3">
            @Html.EditorFor(model => model.SearchDateStart, new { htmlAttributes = new { @class = "form-control calendarBox", placeholder = "日期(起)" } })
        </div>
        <div class="col-md-3">
            @Html.EditorFor(model => model.SearchDateEnd, new { htmlAttributes = new { @class = "form-control calendarBox", placeholder = "日期(讫)" } })
        </div>
        <div class="col-md-2">
            <input type="submit" value="搜寻" class="btn btn-default" id="btn-search" />
        </div>
    </div>

    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th class="text-center">@Html.DisplayNameFor(model => model.cancelPagedList.FirstOrDefault().DepostitDateTime)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.cancelPagedList.FirstOrDefault().OrderID)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.cancelPagedList.FirstOrDefault().Member)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.cancelPagedList.FirstOrDefault().TotalDepositMoney)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.cancelPagedList)
            {
                <tr>
                    <td class="text-center">@Html.DisplayFor(modelItem => item.DepostitDateTime)</td>
                    <td class="text-center">@Html.DisplayFor(modelItem => item.OrderID)</td>
                    <td class="text-center">@Html.DisplayFor(modelItem => item.Member.Name)</td>
                    <td class="text-right">@Html.DisplayFor(modelItem => item.TotalDepositMoney)</td>
                </tr>
            }
        </tbody>
    </table>

    @Html.HiddenFor(model => model.PageNumber)
    <ul class="pagination">
        @if (Model != null && Model.cancelPagedList != null)
        {
            <li class=""><input type="submit" value=&laquo; class="btn-previous-page" /></li>
            for (int i = 1; i <= Model.cancelPagedList.PageCount; i++)
            {
                <li><input type="submit" value=@i class="btn-page" /></li>
            }
            <li class=""><input type="submit" value=&raquo; class="btn-next-page" /></li>
            <text>Displaying @Model.cancelPagedList.ItemStart - @Model.cancelPagedList.ItemEnd of @Model.cancelPagedList.TotalItemCount item(s)</text>
        }
    </ul>
}

<script>
    $(document).ready(function () {
        $("ul > li > input").addClass("btn btn-default btn-sm");
        $("ul > li > input.btn-page").click(function () {
            $("#PageNumber").val($(this).attr("value"));
            return true;
        });
        $("ul > li > input.btn-page:eq(@Model.cancelPagedList.PageIndex)").addClass("active");
        $("ul > li > input.btn-previous-page").click(function () {
            if (@Model.cancelPagedList.PageIndex > 0) {
                $("#PageNumber").val(@Model.cancelPagedList.PageNumber -1);
                return true;
            }
            else {
                return false;
            }
        });
        $("ul > li > input.btn-next-page").click(function () {
            if ((@Model.cancelPagedList.PageIndex) < (@Model.cancelPagedList.PageCount-1)) {
                $("#PageNumber").val(@Model.cancelPagedList.PageNumber + 1);
                return true;
            }
            else {
                return false;
            }
        });
        $("#btn-search").click(function(){
            $("#PageNumber").val(1);
            return true;
        });
    });
</script>
