@model LoveMeHandMake2.Models.ProductCategory

@{
    ViewBag.Title = "删除产品类别";
}

<h2>删除</h2>

<h3>你确定要删除吗？</h3>
<div>
    <h4>产品类别</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd>
            @if (Model.Unit == 1)
            { 
                @Html.Label("点");
            }
            else if (Model.Unit == 2)
            {
                @Html.Label("豆");
            }
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>


















@*<fieldset>
    <legend>ProductCategory</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Unit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unit)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CreateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateTime)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.UpdateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateTime)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ValidFlag)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValidFlag)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}*@
