@model IEnumerable<LoveMeHandMake2.Models.ProductCategory>

@{
    ViewBag.Title = "产品类别";
}

<h2>产品类别</h2>

<p>
    @Html.ActionLink("新增产品类别", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (item.Unit == 1)
                { 
                    @Html.Label("点");
                }
                else if (item.Unit == 2)
                { 
                    @Html.Label("豆");
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { id = item.ID, @class = "delete", onclick = "HasProductUnderCategory(this);" })
            </td>
        </tr>
    }

</table>

<script>
    function HasProductUnderCategory(obj) {
        $.post(
            "@Url.Content("~/ProductCategory/HasProductUnderCategoryAjax")",
            {productCategoryID : obj.id},
            function (hasProduct) {
                if (hasProduct) {
                    alert("有产品在此类别下，无法删除!");
                } 
            },
            "json"
        );
    }



</script>

