@model LoveMeHandMake2.Models.Store

@{
    ViewBag.Title = "删除门市";
}

<h2>删除</h2>

<h3>你确定要删除吗？</h3>
<div>
    <h4>门市</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StoreCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StoreCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OverThresholdBonus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OverThresholdBonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreCanSellCategories)
        </dt>
        <dd>
            @foreach (var cat in ViewBag.categories)
            {
                if (Model.IsSellableCategory(cat.ID))
                {
                    <div class="col-md-4"><input type="checkbox" name="@("category_"+cat.ID)" value="@cat.ID" checked disabled> @cat.Name</div>
                }
                else
                {
                    <div class="col-md-4"><input type="checkbox" name="@("category_"+cat.ID)" value="@cat.ID" disabled> @cat.Name</div>
                }
            }
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
















@*<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Store</legend>







    <div class="display-label">
        @Html.DisplayNameFor(model => model.CreateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateTime)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.UpdateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateTime)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ValidFlag)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValidFlag)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}*@
