@model LoveMeHandMake2.Models.Store

@{
    ViewBag.Title = "修改门市";
}

<h2>修改</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-horizontal">
        <h4>门市</h4>
        <hr />
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(nidek => Model.CreateTime)
        @Html.HiddenFor(nidek => Model.UpdateTime)
        @Html.HiddenFor(nidek => Model.ValidFlag)

        <div class="form-group">
            @Html.LabelFor(model => model.StoreCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StoreCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StoreCode, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OverThresholdBonus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OverThresholdBonus, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OverThresholdBonus, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.StoreCanSellCategories, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @foreach (var cat in ViewBag.categories)
                {
                    if (Model.IsSellableCategory(cat.ID))
                    {
                        <div class="col-md-4"><input type="checkbox" name="@("category_"+cat.ID)" value="@cat.ID" checked> @cat.Name</div>
                    }
                    else
                    {
                        <div class="col-md-4"><input type="checkbox" name="@("category_"+cat.ID)" value="@cat.ID"> @cat.Name</div>
                    }
                }
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.StopBusinessDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StopBusinessDate, new { htmlAttributes = new { @class = "form-control calendarBox" } })
                @Html.ValidationMessageFor(model => model.StopBusinessDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
