@model IEnumerable<LoveMeHandMake2.Models.Store>

@{
    ViewBag.Title = "门市";
}

<h2>门市</h2>

<p>
    @Html.ActionLink("新增门市", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped table-hover">
    <tr class="row">
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.StoreCode)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.OverThresholdBonus)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.StoreCanSellCategories)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.StopBusinessDate)
        </th>
        <th class="col-md-2"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="row">
            <td class="col-md-2" valign="baseline">
                @Html.DisplayFor(modelItem => item.StoreCode)
            </td>
            <td class="col-md-2" valign="baseline">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="col-md-2" valign="baseline">
                @Html.DisplayFor(modelItem => item.OverThresholdBonus)
            </td>
            <td class="col-md-2" valign="baseline">
                @{
        foreach (var category in item.StoreCanSellCategories)
        {
            <p>@category.ProductCategory.Name</p>
        }
                }
            </td>

            <td class="col-md-2" valign="baseline">
                @Html.DisplayFor(modelItem => item.StopBusinessDate)
            </td>
            <td class="col-md-2" valign="baseline">
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>



